/* RESET GLOBAL POUR AVOIR UN DESIGN PROPRE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* POLICE PAR DÉFAUT */
body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  color: #222;
  line-height: 1.5;
}

/* LIENS PAR DÉFAUT */
a {
  text-decoration: none;
  color: inherit;
}

/* TITRES GLOBAUX */
h1, h2, h3 {
  font-weight: 600;
}

/* ROOT */
/* Cela garantit que la hauteur prend bien 100% de l’écran */
#root {
  min-height: 100vh;
}
